html, body {
  font-family: arial;
  margin: 0;
}

h1 {
  margin: 0;
}

.page-header {
  padding: 2vh;
  border-bottom: 2px solid black;
}

#station-name {
  text-align: center;
  font-size: 10vw;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.train-container {
  border-bottom: 2px solid rgba(50, 50, 100, 0.3);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.train-destination {
  /* Vertically centers text in item - must be same as list item height */
  line-height: 10vw;
  font-size: 5vw;
}

.estimates-list {
  display: flex;
}

.estimate-list-item {
  margin-left: 1em;
  /* List item height */
  height: 10vw;
  /* Makes destination outline a circle - must be same as list item height */
  width: 10vw;
  text-align: center;
  /* Vertically centers text in item - must be same as list item height */
  line-height: 10vw;
  border: 1px solid black;
  border-radius: 60%;
  font-size: 5vw;
}

.line-red {
  background-color: rgba(239, 14, 14, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(239, 14, 14, 0.3), #FFF 60%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(239, 14, 14, 0.3), #FFF 60%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(239, 14, 14, 0.3), #FFF 60%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(239, 14, 14, 0.3), #FFF 60%);
  /* Standard syntax */
}

.line-green {
  background-color: rgba(14, 239, 66, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(14, 239, 66, 0.3), #FFF 60%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(14, 239, 66, 0.3), #FFF 60%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(14, 239, 66, 0.3), #FFF 60%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(14, 239, 66, 0.3), #FFF 60%);
  /* Standard syntax */
}

.line-blue {
  background-color: rgba(14, 62, 239, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(14, 62, 239, 0.3), #FFF 60%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(14, 62, 239, 0.3), #FFF 60%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(14, 62, 239, 0.3), #FFF 60%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(14, 62, 239, 0.3), 5%), /* Standard syntax */
}

.line-orange {
  background-color: rgba(239, 145, 14, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(239, 145, 14, 0.3), #FFF 60%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(239, 145, 14, 0.3), #FFF 60%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(239, 145, 14, 0.3), #FFF 60%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(239, 145, 14, 0.3), #FFF 60%);
  /* Standard syntax */
}

.line-yellow {
  background-color: rgba(239, 235, 9, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(239, 235, 9, 0.3), #FFF 60%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(239, 235, 9, 0.3), #FFF 60%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(239, 235, 9, 0.3), #FFF 60%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(239, 235, 9, 0.3), #FFF 60%);
  /* Standard syntax */
}
